<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<head>
<style th:fragment="header1">
	
</style>
</head>
<body>	
	<header class="page-header" th:fragment="header1">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a th:href="@{/index}" class="navbar-brand">GreenMarket<span>Secondhand rental</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a th:href="@{/index}" class="nav-link">Home</a></li>
					<li class="nav-item"><a th:href="@{/layout/about}" class="nav-link">About</a></li>
					<li class="nav-item"><a th:href="@{/layout/destination}" class="nav-link">Destination</a></li>
					<li class="nav-item"><a th:href="@{/layout/hotel}" class="nav-link">Hotel</a></li>
					<li class="nav-item"><a th:href="@{/layout/blog}" class="nav-link">Blog</a></li>
					<li class="nav-item"><a th:href="@{/layout/contact}" class="nav-link">Contact</a></li>
					<li class="nav-item"><a th:href="@{/layout/login}" class="nav-link">login</a></li>
					<li class="nav-item"><a th:href="@{/layout/signup}" class="nav-link">signup</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	</header>
</body>
</html>