<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="scriptFragment">
	<script src="/bootstrap/js/jquery.min.js"></script>

	<!-- 제이쿼리 ui -->
	<script src="/bootstrap/js/jquery-ui.js"></script>
	
	<script src="/bootstrap/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/bootstrap/js/popper.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/bootstrap/js/jquery.easing.1.3.js"></script>
	<script src="/bootstrap/js/jquery.waypoints.min.js"></script>
	<script src="/bootstrap/js/jquery.stellar.min.js"></script>
	<script src="/bootstrap/js/owl.carousel.min.js"></script>
	<script src="/bootstrap/js/jquery.magnific-popup.min.js"></script>
	<script src="/bootstrap/js/jquery.animateNumber.min.js"></script>
	<script src="/bootstrap/js/bootstrap-datepicker.js"></script>
	<script src="/bootstrap/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> 
	<script src="/bootstrap/js/google-map.js"></script> 
	<script defer src="/bootstrap/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<!-- contextPath 관련 -->	
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
	<script>
		let contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';
	$().ready(() => {
		$("#login_btn").click(function() {
		 $.ajax({
            type : "POST",
            url : "/checkCurrentPassword",
            data : {
               "id" : $("#mId").val(),
               "password" : $("#mPw").val()
            },
            success : function(aa) {
               console.log(aa);
               if (aa == "1") {
              	 Swal.fire({
  				 position: 'top',
  				 icon: 'success',
  				 title: '반갑습니다!',
  				 showConfirmButton: false,
				})
                $("#userForm").submit();
               } else if(aa=="2"){
                  Swal.fire('존재하지 않는 아이디입니다.');
               } else {
               	 Swal.fire('비밀번호 불일치합니다.');
               }
              }
         });
        });
	})		
	</script>


</th:block>
</html>