<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<body style="background-color: #D9E5FF">
	<th:block layout:fragment="style1">
		<style>
			.hideDelete {
				display: none;
			}
		</style>
	</th:block>
	<div class="panel panel-default" layout:fragment="content1"
		style="background-color: #D9E5FF">
		<div class="form-group">
			<form id="myfrm" th:action="@{/item/update}" method="post"
				style="background-color: #D9E5FF">
				<input type="hidden" id="iId" name="iId" th:value="${item.iId}">
				<br>

				<div class="form-group"
					style="padding: 0px 200px 0px 200px; width: 100%;">
					<!-- item 제목  -->
					<label for="iTitle"></label> <input type="text"
						class="form-control" id="iTitle" name="iTitle"
						th:value="${item.iTitle}"
						style="text-align: center; font-size: x-large; padding-top: 25px; padding-bottom: 25px;">
				</div>

				<div class="form-inline"
					style="padding: 0px 200px 0px 815px; width: 100%">
					<!-- item 작성자  -->
					<div class="form-group">
						<label for="writer">writer:</label> <input type="text"
							class="form-control" id="writer" name="writer"
							th:value="${item.member.mNickname}" readonly="readonly">
					</div>

					<!-- item 작성일  -->
					<div class="form-group">
						<label for="iRegdate">작성일:</label> <input type="text"
							class="form-control" id="iRegdate" name="iRegdate"
							th:value="${item.iRegdate}" readonly="readonly">
					</div>

					<input type="hidden" id="mId" name="mId"
						th:value="${item.member.mId}">
				</div>

				<!-- item 사진 
				<div class="form-group" style="text-align: center;">
					<img
						th:src="@{${'https://kosta-server.s3.ap-northeast-2.amazonaws.com/dietdiaryboard/' + dboard.photo}}"
						width="50%" height="5%" style="padding: 30px 200px 10px 200px">
				</div>
				 -->

				<!-- item 내용  -->
				<div class="form-group"
					style="width: 100%; height: 5%; padding: 20px 200px 10px 200px;">
					<label for="iContent">content:</label>
					<textarea class="form-control" rows="3" cols="" id="iContent"
						name="iContent" style="width: 100%; height: 5%;">[[${item.iContent}]]</textarea>
				</div>

				<input type="hidden" name='page' th:value=${pagevo.page}> <input
					type='hidden' name='size' th:value=${pagevo.size}> <input
					type="hidden" name="type" th:value="${pagevo.type}"> <input
					type="hidden" name="keyword" th:value="${pagevo.keyword}">
				<!-- 버튼구현 -->

				<div class="pull-right"
					style="width: 100%; height: 5%; padding: 0px 200px 0px 200px;">
					<a href="javascript:call()" class="btn btn-info"
						th:classappend="${(item.member.mId != member.mId) ? 'hideDelete' : ''}">수정하기</a>

					<a th:href="@{/item/delete(iId=${item.iId})}" class="btn btn-info"
						th:classappend="${(item.member.mId != member.mId) ? 'hideDelete' : ''}">삭제하기</a>
					<a th:href="@{/item/itemlist}" class="btn btn-info">목록보기</a>
				</div>
			</form>
		</div>
	</div>
	<th:block layout:fragment="script1">
		<script>
			function call() {
				var myfrm = $("#myfrm")
				myfrm.submit();
			}
		</script>
	</th:block>
</body>
</html>