<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<body>
<th:block layout:fragment="style1">


</th:block>
<div class="panel panel-default" layout:fragment="content1">
	<section class="hero-wrap hero-wrap-2 js-fullheight"
		style="background-image: url('/bootstrap/images/item/myitem.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs">
						<span class="mr-2"><a th:href="@{/index}">Home <i class="fa fa-chevron-right"></i></a></span> 
						<span>Detail Item<i class="fa fa-chevron-right"></i></span>
					</p>
					<h1 class="mb-0 bread">Detail Item</h1>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h1 class="panel-heading" style="text-align: center;">Detail Item</h1>
		<div class="panel-body">
			<form th:action="@{/item/itemupdate}" method="post" id="itemform" >
				<input type="hidden" th:value="${item.photos}" id="iIds" name="iIds"/> 
				<!-- 제목 -->
				<div class="form-group">
					<label for="Title">title:</label> 
					<input type="text" class="form-control" id="iTitle" th:value="${item.iTitle}" name="iTitle">
				</div>
				<!-- 내용 -->
				<div class="form-group">
					<label for="Content">content:</label>
					<textarea class="form-control" rows="3" cols="" id="iContent" name="iContent" th:value="${item.iContent}"></textarea>
				</div>
				<!-- 작성자 -->
				<div class="form-group">
					<label for="writer">writer:</label> 
					<input type="text" class="form-control" th:value="${item.member.mId}" id="writer" name="writer" readonly="readonly">
				</div>
				<!-- 가격 -->
				<div class="form-group">
					<label for="Price">price:</label> 
					<input type="text" class="form-control" id="iPrice" name="iPrice" th:value="${item.iPrice}">
				</div>
				<!-- 물건 상태 -->
				<div class="form-group">
					<label for="state">state:</label> 
					<select id="iState" name="iState">
						<option th:selected="${state.title}==${item.iState.title}" th:each="state:${istates}" th:value="${state}">[[${state.title}]]</option>
					</select>
				</div>
				<!-- 거래 상태 -->
				<div class="form-group">
					<label for="Tstate">Tstate:</label> 
					<select id="iTstate" name="iTstate">
						<option th:selected="${state.title}==${item.iTstate.title}" th:each="state:${tstates}" th:value="${state}">[[${state.title}]]</option>
					</select>
				</div>
				<!-- 카테고리 -->
				<div class="form-group">
					<label for="Category">category:</label> 
					<select id="iCategory" name="iCategory">
						<option th:selected="${category.title}==${item.iCategory.title}" th:each="category:${categorys}" th:value="${category}">[[${category.title}]]</option>
					</select>
				</div>
			</form>
				
			<form name="dataForm" id="dataForm" onsubmit="return registerAction()">
			  	<button id="btn-upload" type="button" style="border: 1px solid #ddd; outline: none;">파일 추가</button>
			  	<input id="input_file" multiple="multiple" type="file" style="display:none;">
			  	<div style="margin:40px;">
					<span>첨부 파일</span>
					<br />
					<div id="articlefileChange" style="font-size:10px; color: gray;">
					</div>
				</div>
			  	<button type="submit" style="border: 1px solid #ddd; outline: none;">전송</button>
			  </form>
		</div>
	</section>
</div>
</body>
<th:block layout:fragment="script1">
<script>
$(document).ready(function()
		// input file 파일 첨부시 fileCheck 함수 실행
		{
			$("#input_file").on("change", fileCheck);
		});

/**
 * 첨부파일로직
 */
$(function () {
    $('#btn-upload').click(function (e) {
        e.preventDefault();
        $('#input_file').click();
    });
});

// 파일 현재 필드 숫자 totalCount랑 비교값
var fileCount = 0;
// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
var totalCount = 4;
// 파일 고유넘버
var fileNum = 0;
// 첨부파일 배열
var content_files = new Array();

function fileCheck(e) {
    var files = e.target.files;
    
    // 파일 배열 담기
    var filesArr = Array.prototype.slice.call(files);
    
    // 파일 개수 확인 및 제한
    if (fileCount + filesArr.length > totalCount) {
      $.alert('파일은 최대 '+totalCount+'개까지 업로드 할 수 있습니다.');
      return;
    } else {
    	 fileCount = fileCount + filesArr.length;
    }
    
    // 각각의 파일 배열담기 및 기타
    filesArr.forEach(function (f) {
      var reader = new FileReader();
      reader.onload = function (e) {
        content_files.push(f);
        $('#articlefileChange').append(
       		'<div id="file' + fileNum + '" onclick="fileDelete(\'file' + fileNum + '\')">'
       		+ '<font style="font-size:15px">' + f.name + '</font>'  
       		+ '<img src="/bootstrap/images/icon_minus.png" style="width:20px; height:auto; vertical-align: middle; cursor: pointer;"/>' 
       		+ '<div/>'
		);
        fileNum ++;
      };
      reader.readAsDataURL(f);
    });
    console.log(content_files);
    //초기화 한다.
    $("#input_file").val("");
  }

// 파일 부분 삭제 함수
function fileDelete(fileNum){
    var no = fileNum.replace(/[^0-9]/g, "");
    content_files[no].is_delete = true;
	$('#' + fileNum).remove();
	fileCount --;
    console.log(content_files);
}

/*
 * 폼 submit 로직
 */
	function registerAction(){
		var form = $("form")[0];
		var item_id= $("#iId").val();
		
		if(typeof form != "undefined") {
		 	var formData = new FormData(form);
				for (var x = 0; x < content_files.length; x++) {
					// 삭제 안한것만 담아 준다. 
					if(!content_files[x].is_delete){
						 formData.append("article_file", content_files[x]);
					}
				}
		   /*
		   * 파일업로드 multiple ajax처리
		   */
		   
			$.ajax({
		   	      type: 'POST',
		   	   	  enctype: 'multipart/form-data',
		   	      url: '/file-upload',
		       	  data : formData,
		       	  processData: false,
		   	      contentType: false
		   	    }).done(function(responseBody) {
		   	    	alert(responseBody);
		   	    	
		   	    	$.each(responseBody , function(idx, val) {
		   	    	console.log(idx + " " + val.title);
		   	    	});
		   	    	
		   	    	$('#iIds').val(responseBody);
					
					$('#itemform').submit();
				}).fail(function(error) {
					alert('사진을 입력해주세요.');
				})
			}else {
		    	$('#itemform').submit();
		      }    
		return false;
	}
</script>
</th:block>
</html>