<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>내 물품 관리</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	<section class="hero-wrap hero-wrap-2 js-fullheight"
		style="background-image: url('/bootstrap/images/item/mylist.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs">
						<span class="mr-2"><a th:href="@{/index}">Home <i class="fa fa-chevron-right"></i></a></span> 
						<span><a th:href="@{/layout/myPage}">MyPage <i class="fa fa-chevron-right"></i></a></span>
					</p>
					<h1 class="mb-0 bread">내 물품 관리</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-4 ftco-animate" th:each="item:${myitemlist}">
					<form th:action="@{/item/myitem}" method="get">
						<div class="blog-entry justify-content-end">
							<div class="block-20">
							<img style="color: white;" width="100%" height="100%" alt="item이미지" th:src="@{${item.photos[0].ipFilename}}">
							</div>
							<div class="text">
								<div class="d-flex align-items-center mb-4 topp">
									<div class="one">
										<span class="day" style="font-size: 30px;" th:text="${item.iId}"></span>
									</div>
									<div class="two">
										<span class="yr" th:text="${item.iCategory.title}"></span> 
										<span class="mos" th:text="${#dates.format(new java.util.Date(item.iRegdate), 'yyyy-MM-dd HH:mm')}"></span> 
									</div>
								</div>
								<h3 class="heading">
									<a href="#" th:text="${item.iTitle}"></a>
								</h3>
								<p th:text="${item.iContent}"></p>
								<input type="hidden" name='iId' th:value=${item.iId}> 
								<input type="submit" value="수정하기">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div>
				<p style="text-align:right">
					<a th:href="@{/item/insertform}" class="btn btn-primary py-3 px-4">물품 입력</a>
				</p>
			</div>
		</div>
	</section>
</div>
<th:block layout:fragment="script1">		
	<!-- 메인 상단 메뉴 active -->
	<script>
		$('#nav-item-mypage').addClass('active');			
	</script>
</th:block>
</body>
</html>