<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>FitPle</title>
<link rel="stylesheet" href="css/main.css" />
<th:block layout:fragment="style2">
<style>
#header_css {
	background-color: rgba(255,165,0,0.1);
}
#videoBG{
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
}
</style>
    </th:block>
</head>
<body>
	<div class="is-preload" layout:fragment="content1"  >
	<video id = "videoBG" autoplay loop muted>
	<source src="image/gym.mp4" type="video/mp4">	
	</video>
	<div >
			<div id="intro">
				<h1>This is <br>
				FITPLE</h1>
				<p>Hello, Exercise with Fitple. and share your opinion. <a href="https://github.com/Choisuyeon-2205/KOSTA_FINAL">@github</a> for <a href="./main">FITPLE</a><br />
				And compete with your partner.<a href=""><br>Let's FITPLE!</a>.</p>
				<ul class="actions">
					<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="#">Fitness People</a></li>
							<li><a th:href="@{business/businessMain}">Business Page</a></li>
							<li><a href="#">Reference</a></li>
						</ul>
					
					</nav>


	<div id="main">

	<!-- Featured Post -->
		<article class="post featured">
			<header class="major">
				
				<span><a href="#">Introducing the FITPLE project</a></span>
				<p>Share every moment of the sport with Fitle. Record your exercise records and diet, and meet the BUDDY system.
					Compete with friends and share information with people through bulletin boards.</p> <br>
			</header>
			
			
		</article>

	<!-- Posts -->
		<section class="posts">
			<article>
				<header>
					<h2><a href="#"> Please update your information.</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise1.jpg" alt="" /></a>
				<p>Write down your physical records. And feel the change in your body!  Your changes are recorded.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Update Profile</a></li>
				</ul>
			</article>
			<article>
				<header>
					
					<h2><a href="#">Show me your meal<br> your exercise.</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise2.jpg" alt="" /></a>
				<p>Record your diet and your workout photos. Everything is saved and only you can see. 
				If you keep saving, a lot of things will change.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Upload Pictures</a></li>
				</ul>
			</article>
			<article>
				<header>
					
					<h2><a href="#">Feel Buddy system.</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise0.jpg" alt="" /></a>
				<p>The Buddy system picks a friend who is most similar to you. You can see the profile of the friend and compete.
				It's a special system that you can't see anywhere. Feel it right here.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Find Buddy</a></li>
				</ul>
			</article>
			<article>
				<header>
					
					<h2><a href="#">Go to the fitness center.</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise3.jpg" alt="" /></a>
				<p>You can find a nearby fitness center. And you can book classes at the gym Take a look at the different curriculum. And you can evaluate the gym and share opinions. Try it right now.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Find Center</a></li>
				</ul>
			</article>
			<article>
				<header>
					
					<h2><a href="#">Many community featuresr</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise4.jpg" alt="" /></a>
				<p>You can write a diet diary, get exercise information, get health information, and share things with people through the bulletin board. Share opinions with people on community boards.</p>
				<ul class="actions special">
					<li><a href="#" class="button">GO Communicate</a></li>
				</ul>
			</article>
			<article>
				<header>
					
					<h2><a href="#">Stores you search by keyword</a></h2>
				</header>
				<a href="#" class="image fit"><img src="image/exercise1.jpg" alt="" /></a>
				<p>Do you need anything? Simply find what you need in words.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Searching</a></li>
				</ul>
			</article>
		</section>

	<!-- Footer -->
		<footer>
			<div class="pagination">
			
				<a href="#" class="page active">1</a>
				<a href="#" class="page">2</a>
				<a href="#" class="page">3</a>
				<span class="extra">&hellip;</span>
				<a href="#" class="page">8</a>
				<a href="#" class="page">9</a>
				<a href="#" class="page">10</a>
				<a href="#" class="next">Next</a>
			</div>
		</footer>

</div>



<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Warren BuFIT </li><li>Design: <a href="">오정훈</a></li></ul>
					</div>

			




</div>


	  </div>

		
</body>
</html>