<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.hideDelete {
	display: none;
}
</style>
</head>
<body style="background-color: #D9E5FF">
	<!-- 게시판 제목  -->
	<div class="panel panel-default" layout:fragment="content1" style="background-color: #D9E5FF">

		
		<!-- 게시판 번호  -->
		<div class="form-group">
			<form id="myfrm" th:action="@{/dietdiaryboard/update}" method="post" style="background-color: #D9E5FF">
				<input type="hidden" id="diaryNum" name="diaryNum"
					th:value="${dboard.diaryNum}"> <br>
				
					
					
			<div class="form-group"
			style="padding: 0px 200px 0px 200px; width: 100%;">
			<label for="title"></label> <input type="text" class="form-control"
				id="title" name="title" th:value="${dboard.title}"
				style="text-align: center; font-size: x-large; padding-top: 25px; padding-bottom: 25px;">
			</div>
					
					
			
					
					<div class="form-inline"
					style="padding: 0px 200px 0px 815px; width: 100%">
					
					<!-- 게시판 작성자  -->
					<div class="form-group">
						<label for="writer">writer:</label> <input type="text"
							class="form-control" id="writer" name="writer"
							th:value="${dboard.user.nickName}" readonly="readonly">
					</div>

					<!-- 게시판 작성일  -->
					<div class="form-group">
						<label for="creationDate">작성일:</label> <input type="text"
							class="form-control" id="creationDate" name="creationDate"
							th:value="${dboard.creationDate}" readonly="readonly">
					</div>

					<input type="hidden" id="userid" name="userId"
						th:value="${dboard.user.userId}">
										<input type="hidden" id="photo" name="photo"
						th:value="${dboard.photo}">
					
				</div>
				
				<!-- 게시판 사진  -->
				<div class="form-group" style="text-align: center;">
					<img
						th:src="@{${'https://kosta-server.s3.ap-northeast-2.amazonaws.com/dietdiaryboard/' + dboard.photo}}"
						width="50%" height="5%" style="padding: 30px 200px 10px 200px">
				</div>

				<!-- 게시판 내용  -->
				<div class="form-group"
					style="width: 100%; height: 5%; padding: 20px 200px 10px 200px;">
					<label for="content">content:</label>
					<textarea class="form-control" rows="3" cols="" id="content"
						name="content" style="width: 100%; height: 5%;">[[${dboard.content}]]</textarea>
				</div>

				<input type="hidden" name='page' th:value=${pagevo.page}> <input
					type='hidden' name='size' th:value=${pagevo.size}> <input
					type="hidden" name="type" th:value="${pagevo.type}"> <input
					type="hidden" name="keyword" th:value="${pagevo.keyword}">
				<!-- 버튼구현 -->

				<div class="pull-right"
					style="width: 100%; height: 5%; padding: 0px 200px 0px 200px;">
					<a href="javascript:call()" class="btn btn-info"
						th:classappend="${(dboard.user.userId != user.userId) ? 'hideDelete' : ''}">수정하기</a>

					<a th:href="@{/dietdiaryboard/delete(diaryNum=${dboard.diaryNum})}"
						class="btn btn-info"
						th:classappend="${(dboard.user.userId != user.userId) ? 'hideDelete' : ''}">삭제하기</a>
					<a th:href="@{/dietdiaryboard/boardlist}" class="btn btn-info">목록보기</a>
				</div>
			</form>


			<!-- 모달 사용 -->

			<div id="mymyModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- 모달 내용 -->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
							<!-- <div th:text="${user}"></div> -->
						</div>
						<div class="modal-body">
							<label>댓글번호</label> <input type="text" name="modalNum"
								class="form-control" readonly="readonly"> <label>댓글내용</label>
							<input type="text" name="modalcontent" class="form-control"
								placeholder="적어봐"> <label>작성자</label> <input type="text"
								name="modalwriter" class="form-control" readonly="readonly"
								th:value="${user.nickName}"> <input type="hidden"
								id="modaluserId" name="modaluserId" th:value="${user.userId}">
							<!-- <label>댓글작성일자</label>  -->
							<input type="hidden" name="modalcreationDate"
								class="form-control" readonly="readonly">
						</div>
						<div class="modal-footer">
							<button type="button" id="modalButton" class="btn btn-default"
								data-dismiss="modal">작성</button>
							<button type="button" class="btn btn-danger" id="delButton"
								data-dismiss="modal">삭제</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>

			</div>
			<br> <br> <br>

			<!-- 댓글넣기 -->
			<div style="width: 100%; height: 5%; padding: 0px 200px 0px 200px;">
				<div style="padding-left: 92.6%">
					<button data-toggle="modal" data-target="#mymyModal"
						class="btn btn-warning" id="addReply">댓글추가</button>
				</div>
				<table class="table table-condensed table-bordered table-hover" style="background-color: white;">
					<thead>
						<tr>
							<th>댓글번호</th>
							<th>내용</th>
							<th>작성자</th>
							<th>작성날짜</th>
						</tr>
					</thead>
					<tbody id="replyTable" data-toggle="modal" data-target="#mymyModal">

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script1">
		<script th:src="@{/js/dietboard.js}"></script>
		<script>
			var mode = "";
			$("#addReply").click(function() {
				//alert("ADD클릭");
				$("input[name='modalcontent']").val("");
				$("input[name='modalNum']").val("");
				$("#mymyModal").show();
				$(".modal-title").text("댓글 적어");
				document.getElementById("modalButton").style.display = "";
				mode = "ADD"
			});

			$("#modalButton").click(function() {
				var content = $("input[name='modalcontent']");
				var writer = $("input[name='modaluserId']");
				var obj = {
					"diaryNum" : "[[${dboard.diaryNum}]]",
					"content" : content.val(),
					"writer" : writer.val()
				};
				replyManager.add(obj, printList);
				alert("입력완료");

				$("#mymyModal").hide();
				content.val("");
				writer.val("");
			});

			$("#replyTable")
					.on(
							"click",
							"tr",
							function() {
								var tds = $(this).find("td");
								diaryRplNum = tds[0].innerHTML;
								var content = tds[1].innerHTML;
								var writer = tds[2].innerHTML;
								var creationDate = tds[3].innerHTML;

								$("input[name='modalcontent']").val(content);
								$("input[name='modalwriter']").val(writer);
								$("input[name='modalcreationDate']").val(
										creationDate);
								$("input[name='modalNum']").val(diaryRplNum);

								$(".modal-title").text("리뷰 삭제")
								document.getElementById("modalButton").style.display = "none";
								if (writer != "[[${user.nickName}]]") {

									document.getElementById("delButton").style.display = "none";
								} else {

									document.getElementById("delButton").style.display = "";
								}
								$("#mymyModal").show();

							});

			$("#delButton").click(function() {
				// var content = $("input[name='modalcontent']");
				// var userId = $("input[name='modaluserId']");
				var obj = {
					"diaryNum" : "[[${dboard.diaryNum}]]",
					"diaryRplNum" : diaryRplNum
				};
				replyManager.remove(obj, printList);

				alert("삭제완료");
				$("#mymyModal").hide();
				//content.val("");
				//userId.val("");

			});

			//console.log(replyManager); //{"getAll":function(){},....}
			replyManager.getAll("[[${dboard.diaryNum}]]", printList);

			function printList(rList) {
				console.log(rList);
				var str = "";
				$.each(rList, function(idx, item) {
					str += "<tr>";
					str += "<td>" + item["diaryRplNum"] + "</td>";
					str += "<td>" + item["content"] + "</td>";
					str += "<td>" + item["user"]["nickName"] + "</td>";
					str += "<td>" + item["creationDate"] + "</td>";
					str += "</tr>";
				});
				$("#replyTable").html(str);
			}

			function call() {
				var myfrm = $("#myfrm")
				myfrm.submit();
			}
		</script>
	</th:block>
</body>
</html>