<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}"> 

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>

	<class="panel panel-default" layout:fragment="content1"> <!--style="width: 100%; height: 5%; padding: 0px 200px 0px 200px;"-->
		<h1 class="panel-heading" style="text-align: center; background-color: #D9E5FF">Community</h1>
	

	<p>[[${resultMessage}]]</p>
	


	<table class="table table-bordered table-hover " id="xxx">
			<tr>
				<th>게시글 번호</th>
				<th>게시글 제목</th>
				<th>게시글 작성자</th>
				<th>게시글 사진</th>
				<th>게시글 작성일</th>
				<th>게시글 수정일</th>
			</tr>
			<tr th:each="board:${boardResult}" th:onclick="'window.location.href=\'' + @{/community/boarddetail(cId=${board.cId})} +'\' '">
				<td th:text="${board.cId}"></td>
				<td th:text="${board.cTitle}"></td>
				<td th:text="${board.member.mNickname}"></td>
				<td th:text="${board.cViews}"></td>
				<td th:text="${board.cContent}"></td>
				<td th:text="${board.cRegdate}"></td>
				<td th:text="${board.cUpdate}"></td>
			</tr>
		</table>
		
		
		<div style="padding-left: 96%"> <!--등록하기 버튼-->
			<h3>
				<a class="btn btn-default dropdown-toggle" th:href="@{/community/register}">등록</a>
			</h3>
		</div>
		<!-- 검색 박스 -->
		<div style="text-align: center;">
			<select id="searchType" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<option>전체</option>
				<option value="title" th:selected="${pagevo.type=='title'}">제목</option>
				<option value="content" th:selected="${pagevo.type=='content'}">내용</option>
			</select> 
			<input type="text" id="searchKeyword">
			<button id="searchBtn" class="btn btn-default dropdown-toggle">조건검색</button>
		</div>
		<!-- 페이징처리 -->
		<form id='f1' th:action="@{/community/boardlist}" method="get">
			<input type="hidden" name='page' th:value=${result.currentPageNum}>
			<input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
			<input type="hidden" name="type" th:value="${pagevo.type}">	
			<input type="hidden" name="keyword" th:value="${pagevo.keyword}">	
		</form>


		<nav>
			<div aria-label="Page navigation example" style="text-align: center;">
				<ul class="pagination">
					<li class="page-item" th:if="${result.prevPage}"><a th:href="${result.prevPage.pageNumber}+1"> 이전</a></li>
					<li class="page-item" th:each="pg:${result.pageList}" th:classappend="${pg.pageNumber==result.currentPageNum-1}?active:''"><a th:href="${pg.pageNumber}+1">[[${pg.pageNumber}+1]]</a></li>
					<li class="page-item" th:if="${result.nextPage}"><a th:href="${result.nextPage.pageNumber}+1"> 다음</a></li>
				</ul>
			</div>
		</nav>
			
	
</div>

<th:block layout:fragment="script1">
		<script>
	$(function(){
		var formObj = $("#f1");
		$(".pagination a").click(function(e){
			e.preventDefault(); //본래의 기능(link)를 취소
			formObj.find("[name='page']").val($(this).attr("href"));
			//alert($(this).attr("href"));
			formObj.submit();
		});
		
		
		$("#searchBtn").click(function(){
			var typeStr = $("#searchType").find(":selected").val();
			var keywordStr = $("#searchKeyword").val();
			//alert(typeStr + ":" + keywordStr);
			formObj.find("[name='type']").val(typeStr);
			formObj.find("[name='keyword']").val(keywordStr);
			formObj.submit();
		});
		
		//var msg = "[[${resultMessage}]]";
		
		$(".boardLink").click(function(e){
			e.preventDefault();
			var bno = $(this).attr("href");
			formObj.attr("action","[[@{/community/boarddetail}]]");
			formObj.append("<input type= 'hidden' name='cId' value='" + cId + "'>")
			formObj.submit();
		});
		
	});
	
	</script>

	</th:block>

</body>
</html>