<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}"> 

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>
	<div class="panel panel-default" layout:fragment="content1">
		 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/bootstrap/images/bg_1.jpg');">
		  <div class="overlay"></div>
		  <div class="container">
		    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
		      <div class="col-md-9 ftco-animate pb-5 text-center">
		       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Community <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
		       <h1 class="mb-0 bread">같은 태그 게시글</h1>
		     </div>
		   </div>
		 </div>
		</section>
		<div class="container">
			<!--게시판 위 상단바. 카테고리, 내 동네 표시 등 구현할 곳-->
			<div th:each="tag, i : ${tagList}">
				<div text="${tag.ctName}"></div>
				<div text="${tag.ctId}"></div>
			</div >
		
	
		
			
			
			
		</div >
	</div>

<th:block layout:fragment="script1">
	<script>
	
	</script>

</th:block>

</body>
</html>