<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}"> 

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>
<th:block layout:fragment="style1">
<style>
	.pagination {
		display: block;
	}
</style>
</th:block>
	<div class="panel panel-default" layout:fragment="content1">
		 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/bootstrap/images/hash_img.png');">
		  <div class="overlay"></div>
		  <div class="container">
		    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
		      <div class="col-md-9 ftco-animate pb-5 text-center">
		       <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Community <i class="fa fa-chevron-right"></i></span></p>
		    <!--   <h1 class="mb-0 bread">${tag.ctName}</h1> -->
		       <div th:text="'#'+${tagList[0].ctName}" style="font-weight: bold; font-size: 50px; color: white;"></div>
		     </div>
		   </div>
		 </div>
		</section>
		<div class="container">
			<br>
			<button class="btn btn-primary" onclick="history.back()">돌아가기</button>		
			<br><br>
			<table class="table table-bordered table-hover " id="xxx">
				
				<tr align="center">
					<th>제목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr >
				<tr th:each="tag : ${tagList}" th:onclick="'window.location.href=\'' + @{/community/boarddetail(cId=${tag.community.cId})} +'\' '">
					<td width="300" style="word-break:break-all" th:text="${tag.community.cTitle}"></td >
					<td width="100" style="word-break:break-all" th:text="${tag.community.member.mNickname}" align="center"></td>
					<td width="100" th:text="${tag.community.cViews}" align="center"></td>
					<td width="200" th:text="${#dates.format(new java.util.Date(tag.community.cRegdate), 'yyyy-MM-dd HH:mm')}" align="center"></td> 
				</tr>
			</table>
		
			
		</div >
	</div>

<th:block layout:fragment="script1">
	<!-- 메인 상단 메뉴 active -->
	<script>
		$('#nav-item-community').addClass('active');			
	</script>
	<script>
	
	</script>

</th:block>

</body>
</html>