<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
			
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<title>register</title>

</head>
<body >
	<div class="panel panel-default" layout:fragment="content1">
		 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/bootstrap/images/bg_1.jpg');">
		  <div class="overlay"></div>
		  <div class="container">
		    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
		      <div class="col-md-9 ftco-animate pb-5 text-center">
		       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Community <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
		       <h1 class="mb-0 bread">새 글 등록</h1>
		     </div>
		   </div>
		 </div>
		</section>	
		<div>
			<br><br>
			<form>   
				<div class="form-group">
					<label for="cTitle">제목</label>
					<input type="text" class="form-control" placeholder="제목을 입력하세요" name="cTitle" id="cTitle">
				</div>
	
				<div class="form-group">
	  				<label for="cComment">내용</label>
	 				<textarea class="form-control summernote" rows="5" name="cContent" id="cContent"></textarea>
				</div>
			</form >
			<div class="row justify-content-center">
				<button id="btn-save" class="btn btn-primary">등록하기</button>			
			</div>
			<br><br>
		</div>


<th:block layout:fragment="script1">
<script>
    $('.summernote').summernote({
    	placeholder: '내용을 입력하세요',
        tabsize: 2,
        height: 300
    });

	
	$('#btn-save').on('click',register);
	function register(){
		
		let data = {
			cTitle: $("#cTitle").val(),
			cContent: $("#cContent").val()
		};
		
		var c = $('#cTitle').val();
		console.log(c);
		
		$.ajax({
			type : "POST",
			url: "/community/register",
			data: data
			// contentType: "application/json; charset=utf-8",
			// dataType: "json"
			
		}).done(function(resp){
			alert("등록이 완료되었습니다.");
			location.href="/community/boardlist";
			
		}).fail(function(error){
			alert("등록 실패");
			console.log(error);
		});
		
	}
</script>
	

</th:block>
</body>
</html>