<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >

	<div class="panel panel-default" layout:fragment="content1" style="padding: 0px 200px 0px 200px; width: 100%">
		<h1 class="panel-heading" style="text-align: center;">새글 등록</h1>
		<div class="panel-body" style="background-color: #D9E5FF">
			<form th:action="@{/dietdiaryboard/register}" method="post" id="dietform" > <!--dietboard? -->
			<input type="hidden" name="photo" id="dietphoto">


				<!-- 제목 -->
				<div class="form-group">
					<label for="title">title:</label> <input type="text"
						class="form-control" id="title" placeholder="제목을 적어다오" name="title">
				</div>

				<!-- 내용 -->
				<div class="form-group">
					<label for="content">content:</label>
					<textarea class="form-control" rows="3" cols="" id="content"
						name="content" placeholder="내용을 적어다오"></textarea>
				</div>

				<!-- 작성자 -->

				<div class="form-group" th:each="dboard:${dboardlist}">
					<label for="writer">writer:</label> <input type="text"
						class="form-control" id="writer" name="writer" readonly="readonly">
				</div>

				

			</form>
			
			<form onsubmit="return false;">
				<div class="form-group">
					<label for="photo">사진 등록</label> <input type="file"
						id="photo" name="photo">
				</div>
				<button class="btn btn-primary btn-lg btn-block" id="btn-save">등록</button>
			</form>


		</div>


	</div>

<th:block layout:fragment="script1">
<script>
      $('#btn-save').on('click', uploadImage);
      
      function uploadImage() {
         var file = $('#photo')[0].files[0];
        
         console.log(file);
         if(typeof file != "undefined") {
         var formData = new FormData();
         formData.append('data', file);
         formData.append('path', "dietdiaryboard");
         console.log(formData);
         $.ajax({
            type : 'POST',
            url : '/upload',
            data : formData,
            processData : false,
            contentType : false
         }).done(function(responseBody) {
      
        
               var fileInput = $('#photo');
               var diet_image = fileInput[0].files[0].name; // 파일명 출력
               $("#dietphoto").val(diet_image);
              
               $('#dietform').submit();
         }).fail(function(error) {
            alert('다시 등록해주세요');
         })
      }else {
    	$('#dietform').submit();
      }
   }

</script>
</th:block>
</body>
</html>