<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<th:block layout:fragment="style1">
	<style>
	.modify-form {
	margin-top : 5%;
	}
	
	.row {
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -30%;
	}
	
	.id, .name, .nickname{
		margin-left:-30%;
	}
	
	.email {
		margin-left:-11%;
	}
	
	.phone {
	margin-left:-14%;
	}
	
	.mphone2 {
	margin-left:-14%;
	}
	
	#current_img  {
	 width : 150px;
	 height: 150px;
	 border-radius : 70%;
	 object-fit: cover;
	}
	
	label {
	font-weight : 900;
	color : black;
	}
	
	.pw {
	margin-left:34%;
	}
	

	.box-form {
	height: 52px !important;
    background:#ced4da !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: none;
    width: 60%;
    display: block;
    margin-left:33.5%;
    border: 1px solid #ced4da;
	}
	
	.box-form1 {
	height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 40%;
    display: block;
    margin-left:45%;
    border: 1px solid #ced4da;
	}
	
	textarea {
	display : block;
	margin-left: 33.5%;
	width : 50%;
	height : 120%;
	 border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
	}
	.address {
	margin-left:-7%;
	margin-top: 5%;
	display : block;
	}
	.checkform {
	height: 50px !important;
    background: green !important;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 40%;
    margin-left: -31%;
    border: 1px solid #ced4da;
   
	}
	
	.emailform {
	height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: none;
    width: 60%;
    display: block;
    margin-left:33.5%;
    border: 1px solid #ced4da;
	
	}
	.checkphoneform {
	height: 50px !important;
    background: green !important;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
	width:10%;
	margin-left:3%;
	
	}
	
	.checkaddressform {
	height: 40px !important;
    background: green !important;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 50%;
    display: block;
    margin-left: -40%;
    margin-top: 27%;
    border: 1px solid #ced4da;
	}
	
	#modify, #delete_account {
	width: 20%;
    height: 40%;
    margin-left: 38%;
    margin-top: 3%;
}

	.checkcurrent {
	height: 40px !important;
    background: green !important;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 30%;
    margin-left:35%;
    margin-top:1%;
    border: 1px solid #ced4da;
	}
	.checkcurrentp{
	height: 40px !important;
    background: green !important;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-left:50%;
    margin-top:1%;
    border: 1px solid #ced4da;
	}

	#delete_account {
		margin-top: 2%;
		margin-bottom: 5%;
	}
	
	#modify_pw {
		display:none;
	}
	
	#modify-form {
	margin-top : 5%;
	}
	
	.modal-title-password, .modal-title-phone{
		margin-left:33%;
		font-weight : 900;
	}
	</style>
<head>
<meta charset="UTF-8">
<title>My Account 수정</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content1">
		<section class="hero-wrap hero-wrap-2 js-fullheight"
			style="background-image: url('/bootstrap/images/account_setting.png');">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate pb-5 text-center" style= "margin-left:25%">
						<p class="breadcrumbs">
							<span class="mr-2"><a href="/">Home <i
									class="fa fa-chevron-right"></i></a></span> <span><a th:href="@{/layout/myPage}">마이페이지<i
								class="fa fa-chevron-right"></i></a></span>
						</p>
						<h1 class="mb-0 bread">내 계정 수정</h1>
					</div>
				</div>
			</div>
		</section>
		
		
		<div class="container" style="text-align : center;">
			<div class="input-form-backgroud">
				<div class="input-form col-md-12 mz-auto">
					<form class="modify-form" method="POST" >
						<div class="validation-form">
							
							<!--프로필 -->
							<div class="row">
								<div class="col" style="margin-left:25%;">
									<label for="mPhoto" class="pphoto"> 프로필 사진 수정</label>
									
									<div th:if="${member.mPhoto == null}"> 
									<img src="/bootstrap/images/user.png" id="current_img">
									<input id="file_img" name="file_img" type="file" style="
    									margin-left: 15%;"/>
									 </div>
									 
									<div th:unless="${member.mPhoto == null}">
									<img th:src="${member.mPhoto}" id="current_img"> 
									</div>
									<br>
										<input id="file_img" name="file_img" type="file" style="
    										margin-left: 15%;"/>
								</div>
							</div>
							<input type="hidden" id="mPhoto" name="mPhoto" /> <br>

							<!-- 아이디 폼 -->
							<div class="row">
								<div class="col">
									<label for="mId" class="id">아이디</label> 
									<input id="mId" name="mId" type="text"  class="box-form"
										th:value="${member.mId}" disabled/>
								</div>
							</div>
							<br>

							<!-- 비밀번호 -->
							<div class="row">
									<label for="mPw" class="pw">비밀번호</label> 
								<div class="col-3">
									<input type="button" id="checkPwd" value="비밀번호 수정" 
										class="checkform" readonly> 
								</div>
							</div>
							<br>

							<!-- 이름 -->
							<div class="row">
								<div class="col">
									<label for="mName" class="name">이름</label> 
									<input id="mName" name="mName" type="text" class="box-form"
										th:value="${member.mName}" disabled />
								</div>
							</div>
							<br>

							<!-- 휴대폰 번호 -->
							<div class="row">
								<div class="col">
	 									<label for="mPhone" class="phone">휴대폰 번호</label> 
								<input type="button" id="modifyPhone" value="전화번호 수정"
										class="checkphoneform" readonly>
								</div>
							</div>
							<br>

							<!-- 닉네임 -->
							<div class="row">
								<div class="col">
									<label for="mNickname" class="nickname"> 닉네임 </label> 
									<input id="mNickname" name="mNickname" type="text" 
										class="box-form" th:value="${member.mNickname}" disabled/>
								</div>
							</div>
							<br>

							<!-- 이메일 -->
							<div class="row">
								<div class="col">
									<label for="mEmail" class="email"> 이메일 수정 (수정할 이메일을 입력해주세요)</label> 
									<input id="mEmail" name="mEmail" type="text" placeholder="abcd@email.com"
										class="emailform" th:value="${member.mEmail}" />
								</div>
							</div>
							<br>
							
							<!-- 자기소개 -->
								<div class="row">
									<div class="col">
										<label for="mInfo" class="selfinfo"> 자기소개</label>
										<textarea id="mInfo" name="mInfo" placeholder="자기소개를 적어주세요!"
											class="" th:text="${member.mInfo}"></textarea>
									</div>
								</div>
								<i id="mInfoInfo" class="text-info"></i> <br>

								<!-- 주소 -->
							<div class="row">
								<div class="col">
									<label for="memberAddress" class="address">주소</label> 
									<input type="text" id="sample6_postcode" placeholder="우편번호" name="mAddress.AddNum"
										class="box-form1" th:value="${member.mAddress.AddNum}"> 
										<input type="text" id="sample6_address" placeholder="주소" name="mAddress.memberAddress1"
										class="box-form1" th:value="${member.mAddress.memberAddress1}">
										<input type="text" id="sample6_extraAddress" placeholder="상세주소"
										name="mAddress.memberAddress2" class="box-form1" th:value="${member.mAddress.memberAddress2}">
										<input type="text" id="sample6_detailAddress" placeholder="상세주소 직접 입력"
										name="mAddress.memberAddress3" class="box-form1" th:value="${member.mAddress.memberAddress3}"> 
								</div>
								<div class="col-3">
									<input type="button" onclick="sample6_execDaumPostcode()"
										value="우편번호 찾기" class="checkaddressform"><br>
								</div>
							</div>
							<br> 
							<input type="button"
								class="btn btn-primary btn-lg btn-block" id="modify"value="수정하기" /> 
								<input type="button" class="btn btn-danger btn-lg btn-block" id="delete_account"
								 value="회원 탈퇴하기" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
<div class="modal fade" id="helloModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title-password"> 비밀번호 수정 </h4>
        </div>
        <div class="modal-body">
          <div id="userDiv" class="form-group">
<!--           		<form id="userForm" action="/" method="post"> -->
          			<div class="form-group">
          	  		<label> 현재 비밀번호</label>
          	  		<input type="password" id="current_pwd" name="username"  class="form-control"  placeholder="현재 비밀번호를 입력하세요"  required="required" autofocus/>
          	  		<input type="button" id="checkcurrent" class="checkcurrent" value="비밀번호 확인 "/>
          	  		</div>
          	  <div class="form-group" id = "modify_pw"style="margin-bottom: 30px;">
             	 <label> 수정할 비밀번호</label> 
              	 <input type="password" id="new_pwd" name="password" class="form-control" placeholder="수정할 비밀번호를 입력하세요" required="required" autofocus/>
              	 <i id="mPwInfo2" class="text-info"></i>
             </div>
             <button class="btn btn-primary btn-block" type="button" id="submit_pwd">확인</button>
<!--           	</form>	 -->
          		</div>
          	<div class="signup">
        </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_modal">닫기</button>
         </div>
        
      </div>
    </div>
    </div>
    </div>



<div class="modal fade" id="phoneModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title-phone"> 핸드폰번호 수정 </h4>
        </div>
        <div class="modal-body">
          <div id="userDiv" class="form-group">
          			<div class="form-group">
          	  		<label> 새로운 번호를 입력해주세요 </label> 
          	  		<input type="text" id="mPhone" name="mPhone" th:value="${member.mPhone}" class="form-control"  required="required" autofocus placeholder="'-'을 제외하고 입력하세요."/>
          	  		</div>
							<div class="col-3"> 
									<input type="button" id="sendPhoneButton" value="인증" class="checkcurrentp">
								</div>
          	  		
          	  		<!-- 휴대폰 인증 -->
								<div class="form-group">
									<label for="mPhone2">인증번호</label> 
									<input type="text" id="inputCertifiedNumber" readonly="readonly"
										class="form-control">
								</div>
								<div class="col-3">
									<input type="button" id="CertiUserNum" value="번호 인증"
										readonly="readonly" class="checkcurrentp" placeholder="인증번호를 입력해주세요!"> 
										<input type="hidden" id="numStr" name="numStr">
								</div>
			</div>
							<br>
          	 
             <button class="btn btn-primary btn-block" id="submit_phone">확인</button>
          		</div>
          	<div class="signup">
        </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_modal">닫기</button>
         </div>
        
      </div>
    </div>
    </div>
    </div>


	<th:block layout:fragment="script1">
		<!-- 메인 상단 메뉴 active -->
		<script>
			$('#nav-item-mypage').addClass('active');			
		</script>
		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<!--       <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
		<script>  
		
		$('#checkPwd').click(function() {
         $('#helloModal').modal('show');
    });


// (현재) '비밀번호 확인' 버튼 클릭했을 때
$('#checkcurrent').click(function () {
    var pw = $('#current_pwd').val();	//입력한 비밀번호

    // 입력한 비밀번호가 DB와 일치하는지 확인
    $.ajax({
        type: "POST",
        url: "/checkCurrentPassword",
        data: {
            "password": pw
        },
        success: function (aa) {
            console.log(aa);

            if (aa == "1") { // DB와 입력한 비밀번호와 일치할 때
                Swal.fire('비밀번호가 일치합니다.');
                if ($("#modify_pw").css("display") == "none") {
                    $('#modify_pw').show();

                    // 수정한 비밀번호에 대한 '확인' 버튼 클릭 이벤트 추가
                    $('#submit_pwd').click(function () {

                        //비번 유효성 검사 (수정하려는 비밀번호)
                        var mPw = $('#new_pwd').val();
                        var regPw = /[a-zA-Z0-9!@#$%^&*]{8,12}$/;
                        
                        if (!regPw.test(mPw)) { // 유효성 불일치
                            $('i[id="mPwInfo2"]').html("비밀번호를 형식을 확인하세요");
                            $("#new_pwd").focus();
                            return false;
                        
                        }
                        else if(mPw == pw) {
                       		$('i[id="mPwInfo2"]').html("비밀번호가 이전 비밀번호와 같습니다.");
                            $("#new_pwd").focus();
                            return false;
                        }
                         else {  // 유효성 일치
                            $.ajax({
                                type: "POST",
                                url: "/modifyPwd",
                                data: {
                                    "mPw": mPw
                                }
                            }).done(function (responseBody) {
                                Swal.fire("수정이 완료되었습니다.");
                                $('#current_pwd').val('');
                                $('#new_pwd').val('');
                                $("#modify_pw").css("display", "none");
                                $('#helloModal').modal('hide');
                            }).fail(function (error) {
                                Swal.fire('수정이 불가 합니다.');
                            });
                         }
                    });
                } else {
                    $('#modify_pw').hide();
                }
            } else if (aa == "0") { // 비밀번호 일치하지 않을 때
                Swal.fire('비밀번호가 불일치 합니다.');
            }
        }
    });
});
      
		
		$('#modifyPhone').click(function() {
			$('#phoneModal').modal('show');
		 
		 });
			
			$('#submit_phone').click(function() {
				$.ajax({
           		 type : "POST",
            	 url : "/modifyPhone",
           		 data : {
              			 "mPhone" : $('#mPhone').val()
            			}
            		}).done(function(responseBody){
		         		Swal.fire("수정이 완료되었습니다.");
		         	}).fail(function(error) {
		         		Swal.fire('수정이 불가 합니다.');
		         	});	
            });
		
      $('#checkNick').click(function() {
      		if($("#mId").val() == ""){
			swal("아이디를 입력하세요");
			return false;
		} else if($("#mpwd").val() == ""){
			swal("비밀번호를 입력하세요");
			return false;
		}
		
         $.ajax({
            type : "GET",
            url : "/login/nickCheck",
            data : {
               "mNickname" : $('#mNickname').val()
            },
            success : function(aa) {
               console.log(aa);
               if (aa == "1") {
                  Swal.fire('사용가능한 닉네임입니다.');
                  $('#mNickname').attr('readonly', 'readonly');
               } else {
                  Swal.fire('사용 불가능한 닉네임입니다.');
                  return $('#mNickname').focus();
               }
            }
         });
      });
      
         var numStr;
         $('#CertiUserNum').click(function() {
            if ($('#inputCertifiedNumber').val() == "") {
               Swal.fire('인증번호가 입력되지않았습니다.');
               $('#inputCertifiedNumber').focus();
               return;
            }
            console.log($.trim(numStr));
            console.log($('#inputCertifiedNumber').val());
            if ($.trim(numStr) == $('#inputCertifiedNumber').val()) {
               Swal.fire('인증성공!', '휴대폰 인증이 정상적으로 완료되었습니다.', 'success')
            } else {
               Swal.fire({
                  icon : 'error',
                  title : '인증오류',
                  text : '인증번호가 올바르지 않습니다!',
                  footer : '<a href="/home">다음에 인증하기</a>'
               });
            }
         });
   
         $('#sendPhoneButton').click(function() {
            let phoneNumber = $('#mPhone').val();
            if (phoneNumber == "") {
               Swal.fire('휴대폰번호 오류입니다');
               $('#mPhone').focus();
               return;
            }
            Swal.fire('인증번호가 발송되었습니다')
            $('#CertiUserNum').removeAttr('readonly');
            $('#inputCertifiedNumber').removeAttr('readonly');
   
            $.ajax({
               type : "GET",
               url : "/login/testtest",
               data : {
                  "mPhone" : phoneNumber
               }
             }).done(function(responsedata) {
               numStr = responsedata;
               console.log("===numStr===" + numStr);
            });
         });
   
   
         function sample6_execDaumPostcode() {
            new daum.Postcode(
                  {
                     oncomplete : function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
   
                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수
   
                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                           addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                           addr = data.jibunAddress;
                        }
   
                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                           // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                           // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                           if (data.bname !== ''
                                 && /[동|로|가]$/g.test(data.bname)) {
                              extraAddr += data.bname;
                           }
                           // 건물명이 있고, 공동주택일 경우 추가한다.
                           if (data.buildingName !== ''
                                 && data.apartment === 'Y') {
                              extraAddr += (extraAddr !== '' ? ', '
                                    + data.buildingName
                                    : data.buildingName);
                           }
                           // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                           if (extraAddr !== '') {
                              extraAddr = ' (' + extraAddr + ')';
                           }
                           // 조합된 참고항목을 해당 필드에 넣는다.
                           document.getElementById("sample6_extraAddress").value = extraAddr;
   
                        } else {
                           document.getElementById("sample6_extraAddress").value = '';
                        }
   
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress")
                              .focus();
                     }
                  }).open();
         }
         
    var file_img;
         
    $(document).ready(function() {
    	$('#file_img').on("change", handleImgFileSelect);
    });
    
    	function handleImgFileSelect(e) {
		var files = e.target.files;
		var filesArr = Array.prototype.slice.call(files);

		filesArr.forEach(function(f) {
			if (!f.type.match("image.*")) {
				Swal.fire("확장자는 이미지 확장자만 가능합니다.");
				return;
			}

			file_img = f;

			var reader = new FileReader();
			reader.onload = function(e) {
				$('#current_img').attr('src', e.target.result);
			}
			reader.readAsDataURL(f);
		});
    }
         
         
   	$("#modify").on('click',update);
   	
function update() {
    Swal.fire({
        title: '수정하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '수정',
        cancelButtonText: '취소'
    }).then((result) => {
        if (result.isConfirmed) {
            let data = {
                'mEmail': $("#mEmail").val(),
                'mInfo': $("#mInfo").val(),
                'mAddress.AddNum': $("#sample6_postcode").val(),
                'mAddress.memberAddress1': $("#sample6_address").val(),
                'mAddress.memberAddress2': $("#sample6_detailAddress").val(),
                'mAddress.memberAddress3': $("#sample6_extraAddress").val()
            };

            // 사진
            var file = $('#file_img')[0].files[0];
            var formData = new FormData();
            formData.append('data', file); // data 안에 파일 넣기
            formData.append('path', "signup"); // web 서버에 만들 폴더 이름
            if (file != null) { // 사진 바꿨을 때
                // 사진 S3서버에 등록
                $.ajax({
                    type: 'POST',
                    url: '/profile_upload',
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (responseBody) { // 사진을 S3서버에 등록한 후
                    data.mPhoto = responseBody; // 사진 주소 data에 넣기

                    // 회원정보수정
                    $.ajax({
                        type: "POST",
                        url: "/modify",
                        data: data
                    }).done(function (resp) {
                        Swal.fire({
                            title: '수정 성공',
                            showDenyButton: false,
                            showCancelButton: false,
                            confirmButtonText: '확인'
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                location.href = "/layout/account_setting";
                            } else if (result.isDenied) {
                                location.href = "/layout/account_setting";
                            }
                        })

                    }).fail(function (error) {
                        location.href = "/layout/account_setting";
                    });
                }).fail(function (error) {
                })
            } else { // 사진 안바꿨을 때
                data.mPhoto = $('#current_img').attr('src');
                // 회원정보수정
                $.ajax({
                    type: "POST",
                    url: "/modify",
                    data: data
                }).done(function (resp) {
                    Swal.fire({
                        title: '수정 성공',
                        showDenyButton: false,
                        showCancelButton: false,
                        confirmButtonText: '확인'
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            location.href = "/layout/account_setting";
                        } else if (result.isDenied) {
                            location.href = "/layout/account_setting";
                        }
                    })
                }).fail(function (error) {
                    location.href = "/layout/account_setting";
                });
            }
        }
    })
}

	
	$("#delete_account").on('click', delete_account);
   	function delete_account() {
   		    alert("회원을 탈퇴하시겠습니까?");
 	 		let data = {
 	 		mId : $("#mId").val(),
	 		};
	 		
 			$.ajax({
				type: "POST",
				url: "/delete",
				data: data
			}).done(function(resp){
         			Swal.fire('탈퇴성공!')
         		location.href="/login/logout";
         	}).fail(function(error) {
         		Swal.fire("탈퇴실패!");
         	});		
	}
	
      </script>
		<!-- Bootstrap CSS -->
		<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
		<!--           integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	</th:block>
</body>
</html>