<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"    xmlns:th="https://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>

<body>

	<!-- 공통 스크립트-->
    <th:block th:replace="~{fragments/script :: scriptFragment}"></th:block>

	<!-- 탈퇴 회원 확인 -->
	<input type="hidden" id="is_dropped" th:value="${isDropped}">
	<script th:inline="javascript">
		let isDropped = $('#is_dropped').val();
		if (isDropped == 1) {
			alert('이미 탈퇴한 회원입니다.');
			location.href = '/layout/droppedMember';
		}
	</script>
    
	<!-- 공통 헤더-->
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
  	<header id="header_css" th:replace="~{fragments/header::header1}">
  	</header>
  	
  	<!-- 개별 페이지 style 지정공간 -->
	<th:block layout:fragment="style1">
	</th:block> 
  	
  	<!-- 중간 부분 -->
  	<div class="panel panel-default" layout:fragment="content1" >
  	</div>

	<!-- 공통 footer -->
	<footer id="footer_css" th:replace="~{fragments/footer::footer1}">
	</footer>
	
	<!-- 개별 페이지 script 지정공간 -->
	<th:block layout:fragment="script1">
	</th:block> 
</body>
</html>