<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<head>

<title>임시페이지 입니다.</title>
</head>
<body>



	<div class="panel panel-default" layout:fragment="content1" >
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
			<form th:action="@{/login/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		
		
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div id="userDiv">
          		<form id="userForm" action="/login/hello" method="post">
          	  <label> UserID : <input type="text" name="username"/> </label>
              <label> Password: <input type="password" name="password"/> </label>
              <input type="radio"  name="loginType" id="user" value="user" checked="checked">일반회원 로그인  
         	  <input type="radio"  name="loginType" id="business" value="business">사업자 로그인
              <input type="submit" id="loginbutton" value="로그인버튼">
          		</form>
          		
          		<form th:action="@{/login/signup}" method="get">
              <input type="submit" value="회원가입" id="loginButton"/>
             </form>
          
             <form th:action="@{/login/BusinessSignup}" method="get">
             <input type="submit" value="사업자 회원가입"/>
             </form>
             
          	</div>
          	 
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
		
		
	</div>
</body>
</html>