<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
          <title>Spring Security Example </title>
      </head>
      <body>
          <div th:if="${param.error}">
              Invalid username and password.   
          </div>
          <div th:if="${param.logout}">
              You have been logged out.
          </div>
                  
          	<div id="userDiv">
          		<form id="userForm" action="./login" method="post">
          	  <label> UserID : <input type="text" name="username"/> </label>
              <label> Password: <input type="password" name="password"/> </label>
              <input type="radio"  name="loginType" id="user" value="user" checked="checked">일반회원 로그인
         	  <input type="radio"  name="loginType" id="business" value="business">사업자 로그인 <br>
              <input type="submit" id="loginbutton" value="로그인버튼">
              <hr>
              <br>
          		</form>
          	</div>
          	<hr>
          	 -->
           <br>
           <br>
           <br>  
          <div class="signup" style="border-top: 3px solid black; padding-top: 20px; width: 500px;">
          <input type="text"/>아
          <form th:action="@{/login/signup}" method="get">
              <input type="submit" value="회원가입" id="loginButton" style="margin-left: 90px;"/>
          </form>
          
             <form th:action="@{/login/BusinessSignup}" method="get">
             <input type="submit" value="사업자 회원가입"/>
           </form>
           </div>
        <br><br><br>

		<a href="/oauth2/authorization/facebook" class="btn_social" data-social="facebook">페이스북 로그인</a><br/> 
		<a href="/oauth2/authorization/google" class="btn_social" data-social="google">구글 로그인</a><br/> 
		<a href="/oauth2/authorization/kakao" class="btn_social" data-social="kakao">카카오톡 로그인</a><br/> 
		<a href="/oauth2/authorization/naver" class="btn_social" data-social="naver">네이버 로그인</a><br/> 
		
		
		<p th:text="${userName}"></p>
		<p th:text="${userEmail}"></p>
		
		<script> 
			let socials = document.getElementsByClassName("btn_social"); 
			for(let social of socials) { 
				social.addEventListener('click', function(){ 
					let socialType = this.getAttribute('data-social'); 
					location.href="/oauth2/authorization/" + socialType; 
				}) 
			} 
		</script>

			
			
			
      </body>
      <script>
      /*
	$('#BusinessDiv').hide();
    	  
      
      $("input[name='loginType']:radio").change(function() {
    	  var checked = this.value;
    	  if (checked == "user") {
	    	  $('#userDiv').show();
    		  $('#BusinessDiv').hide();
    	  } else if (checked == "business") {
    	  $('#userDiv').hide();
    	  $('#BusinessDiv').show();
    		  
    	  }
      })
	      $('#loginbutton').click(function(){
	    	 var loginCheck = $("input[name='loginType']:checked").val();
	    	 if (loginCheck == "user") {
	    		 $("#userForm").submit();
	    	 } else if(loginCheck == "business") {
	    		 $("#BusinessForm").submit();
	    	 }
	      });
      */
      </script>

</html>