<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>프로필 등록 절차입니다.</title>
</head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<body>
<h2> 나의 프로필 등록 </h2>
<form id="bodyform" action="/login/profile" method="post">
<label for="userAge">나이</label> 
<input type="number" name="userAge" > <br>
<label for="height">키</label> 
<input type="number" name="height"  > <br>
<label for="weight">몸무게</label>
<input type="number" name="weight"  > <br>
<input type="radio" name="gender" value="M" checked="checked">남자
<input type="radio" name="gender" value="F">여자 <br>
<input type="hidden" id="userImage" name="userImage">
</form>
<form onsubmit="return false;">
   <div class="form-group">
      <label for="userImage">사진 등록</label> 
      <input type="file" id="userImage2" name="userImage2">
   </div>
   <input class="btn btn-primary btn-lg btn-block" id="btn-save" type="text"  value="등록">
</form>
     
         <script>
      $('#btn-save').on('click', uploadImage);
      
      function uploadImage() {
         var file = $('#userImage2')[0].files[0];
        
         console.log(file);
         if(typeof file != "undefined") {
         var formData = new FormData();
         formData.append('data', file);
         formData.append('path', "bodyprofile");
         console.log(formData);
         $.ajax({
            type : 'POST',
            url : '/upload',
            data : formData,
            processData : false,
            contentType : false
         }).done(function(responseBody) {
      
        
               var fileInput = $('#userImage2');
               var user_image = fileInput[0].files[0].name; // 파일명 출력
               $("#userImage").val(user_image);
              
               $('#bodyform').submit();
         }).fail(function(error) {
            alert('다시 등록해주세요');
         })
      }else {
       $('#bodyform').submit();
      }
   }

</script>
</body>
</html>